# Rimozione persone di altri anni
- ordinare il dataset
- stilare di nuovo la classifica

In [1]:
import numpy as np
import pandas as pd

In [2]:
def pulizia(anno, xx):
    df = pd.read_pickle("data/datiBasePuliti/validi-constranierrori/cese_"+xx+".pickle")
    df = df[ df["anno"] == anno ]
    
    # Ordino i dati per punteggio
    df = df.sort_values("tot", ascending=False)
    # Sistemo l'indice
    df = df.reset_index(drop=True)
    
    # Popolo la colonna della posizione in classifica
    pos = 1
    df.at[0, "posizione"] = pos
    for i in range(1, len(df.index)):
        if df.at[i, "tot"] == df.at[i-1, "tot"]:
            #cese.at[i, "posizione"] = cese.at[i-1, "posizione"]
            df.at[i, "posizione"] = pos
        else:
            df.at[i, "posizione"] = i+1
            pos = i+1

    df = df.astype({"posizione": int})
    
    # Salvo il database su pickle
    df.to_pickle("data/datiBasePuliti/validi/Cese_20"+xx+".pickle")

In [3]:
pulizia(2024, "24")

In [5]:
recupero_2024 = pd.read_pickle("data/datiBasePuliti/validi/Cese_2024.pickle")
recupero_2024

,anno,studente,posizione,regione,classe,es1,es2,es3,es4,es5,es6,tot,medaglia
0,2024,Bastioni Lorenzo,1,(),-1,7,7,7,7,7,7,42,ORO
1,2024,Zonta Enrico,1,(),-1,7,7,7,7,7,7,42,ORO
2,2024,Botticella Raffaele,3,(),-1,7,7,7,7,5,4,37,ORO
3,2024,Lombardo Alessandro,4,(),-1,7,6,7,7,7,2,36,ORO
4,2024,Degli Atti Lorenzo,4,(),-1,7,7,7,7,1,7,36,ORO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,2024,Saggiorato Leonardo,292,(),-1,0,3,0,0,0,0,3,-
292,2024,Miccichè Calogero,293,(),-1,0,2,0,0,0,0,2,-
293,2024,Celebre Francesco,293,(),-1,0,0,2,0,0,0,2,-
294,2024,La Malfa Salvatore,295,(),-1,0,0,0,0,0,0,0,-
295,2024,Garritano Giovanni,295,(),-1,0,0,0,0,0,0,0,-

In [6]:
pulizia(2003, "03")
pulizia(2004, "04")
pulizia(2005, "05")
pulizia(2006, "06")
pulizia(2007, "07")
pulizia(2008, "08")
pulizia(2009, "09")

In [7]:
recupero_2006 = pd.read_pickle("data/datiBasePuliti/validi/Cese_2006.pickle")
recupero_2006

,anno,studente,posizione,regione,classe,es1,es2,es3,es4,es5,es6,tot,medaglia
0,2006,Di Marino Simone,1,(Abruzzo),5,7,7,6,7,7,6,40,ORO
1,2006,Cavazzani Francesco,2,(Lazio),5,7,7,7,7,5,5,38,ORO
2,2006,Colombo Maria,3,(Lombardia),3,7,7,7,7,7,1,36,ORO
3,2006,Bianchi Claudio Filippo,4,(Lombardia),5,7,7,6,7,5,0,32,ORO
4,2006,Santi Elia,4,(Emilia Romagna),4,7,5,6,7,7,0,32,ORO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,2006,Raffa Giacomo,274,(Liguria),4,0,0,0,0,0,0,0,-
292,2006,Racco Davide,274,(Emilia Romagna),2,0,0,0,0,0,0,0,-
293,2006,Piazzolla Michele,274,(Puglia),5,0,0,0,0,0,0,0,-
294,2006,Tairi Stefano,274,(Toscana),3,0,0,0,0,0,0,0,-
295,2006,Amoroso Luca,274,(Sicilia),3,0,0,0,0,0,0,0,-

In [8]:
pulizia(2010, "10")
pulizia(2011, "11")
pulizia(2012, "12")
pulizia(2013, "13")
pulizia(2014, "14")
pulizia(2015, "15")
pulizia(2016, "16")
pulizia(2017, "17")
pulizia(2018, "18")

In [9]:
recupero_2017 = pd.read_pickle("data/datiBasePuliti/validi/Cese_2017.pickle")
recupero_2017

,anno,studente,posizione,regione,classe,es1,es2,es3,es4,es5,es6,tot,medaglia
0,2017,Chen Jacopo Guoyi,1,(Lazio),5,7,7,7,7,7,7,42,ORO
1,2017,Viola Federico,2,(Lazio),4,7,7,7,7,7,4,39,ORO
2,2017,Ulliana Andrea,3,(Veneto),5,7,7,7,7,7,1,36,ORO
3,2017,Deniskin Nikita,4,(Campania),5,7,7,7,7,7,0,35,ORO
4,2017,Tarini Bernardo,4,(Toscana),3,7,5,7,2,7,7,35,ORO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,2017,Ramoni Marco,296,(Piemonte),4,0,0,1,0,0,0,1,-
297,2017,Battisti Davide,298,(Lazio),2,0,0,0,0,0,0,0,-
298,2017,Cerritelli Alessandro,298,(Abruzzo),4,0,0,0,0,0,0,0,-
299,2017,D'Uffizi Gabriele,298,(Lazio),2,0,0,0,0,0,0,0,-
300,2017,Di Sandro Antonio,298,(Molise),2,0,0,0,0,0,0,0,-

In [10]:
pulizia(2020, "20")
pulizia(2021, "21")
pulizia(2022, "22")
pulizia(2023, "23")

In [11]:
recupero_2021 = pd.read_pickle("data/datiBasePuliti/validi/Cese_2021.pickle")
recupero_2021

,anno,studente,posizione,regione,classe,es1,es2,es3,es4,es5,es6,tot,medaglia
0,2021,Damiano Matteo,1,(),-1,7,7,7,7,7,7,42,ORO
1,2021,Foschi Massimiliano,1,(),-1,7,7,7,7,7,7,42,ORO
2,2021,Poletto Matteo,3,(),-1,7,6,7,7,7,7,41,ORO
3,2021,Dossi Tommaso,4,(),-1,7,7,7,6,0,4,31,ORO
4,2021,Gori Matteo,4,(),-1,7,7,3,7,7,0,31,ORO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,2021,Russo Elisa,296,(),-1,0,0,0,0,0,0,0,-
296,2021,Innocenti Simone,296,(),-1,0,0,0,0,0,0,0,-
297,2021,Orazio Gennaro,296,(),-1,0,0,0,0,0,0,0,-
298,2021,Nigro Giulioalberto,296,(),-1,0,0,0,0,0,0,0,-
299,2021,Falciglia Daniele Maria,296,(),-1,0,0,0,0,0,0,0,-

In [12]:
pulizia(2019, "19")